<!doctype html>
<html>
<head>
	<title>Simple Chef</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/mine.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div id="logo">
			<img src="/images/chefhat.png" alt="" />
			<h1>Simple Chef</h1>
		</div>
		<div id="circle"></div>
		<form id="loginscreen" role="form" method="get" action="/home">
	    	<div id="collapseOne" class="panel-collapse collapse">
	    		<div class="panel-body">
	    			<div class="form-group">
	      				<label for="email"></label>
	      				<input type="text" class="form-control" id="email" placeholder="email" name="email">
	   				</div>
	    		</div>
			</div>
	    	<div class="form-group">
	    		<label for="name"></label>
				<input type="text" class="form-control" id="username" placeholder="username" name="name">
	    	</div>
	    	<div class="form-group">
	    		<label for="password"></label>
	    		<input type="password" class="form-control" id="password" placeholder="password" name="password">
	    	</div>
	    	<input type="submit" id="submitBtn" class="button" value="Sign In"></input>
	    	<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        	  	<input type="button" id="submitBtn" class="button" value="Sign Up"></input>
        	</a>
	    	<a href="/home">
	    		<input type="button" id="guest" class="button" value="Guest"></input>
	    	</a>
		</form>
	</div>
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
