<!doctype html>
<html lang="en">
<head>
	<title>Simple Chef</title>

	<!--META-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="Kyle Poland and Laura Silva">
	<meta name="description" content="A simple way to find recipes, follow and listen to step-by-step instructions, and much, much, more. All for the endeavor of creating something savory and delicious.">
    <meta name="keywords" content="simple, chef, recipe, easy, savory, delicious">

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!--LINKS-->
	<link type="text/css" rel="stylesheet" media="all" href="/css/style.css">
	<link type="text/css" rel="stylesheet" media="all" href="/css/responsive.css">
	<link type="text/css" rel="stylesheet" media="all" href="/css/bootstrap.css">


	<!--SCRIPTS-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://cloud.github.com/downloads/wycats/handlebars.js/handlebars-1.0.rc.1.min.js"></script>
	<script type="text/javascript" src="/js/lunr.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
	<script type="text/javascript" src="/js/dropdown.js"></script>
</head>
<body>
	<div id="w">
		<div id="pagebody">
			<!-- HTML for Top Bar -->
			<header id="toolbarnav">
				<!--<a href="javascript:history.go(-1)" class="back glyphicon-chevron-left"></a>-->
				<h1 style="margin-top: 5px;"><img src="/images/chefhat.png" alt="Simple Chef">My Recipes</h1>
			</header>
			<section id="content">

				<!--START PINTEREST TILES-->					
				<div id="wrapper">
					<div id="columns">
						{{#each recipes}}
							<a href="/recipe?name={{name}}">
								<div class="pin">
									<img src="/images/{{img}}" alt="">
									<h2>{{name}}</h2>
								</div>
							</a>
						{{/each}}
					</div>
				</div>
				<!--END PINTEREST TILES-->
			</section>
			<!--BOTTOM FIXED NAV-->
			<nav id="bottomnav">
				<ul>
					<li><a href="/home" class="navicon glyphicon-home"></a></li>
					<li><a href="/myrecipes" class="navicon glyphicon-book active"></a></li>
					<li><a href="/settings" class="navicon glyphicon-cog"></a></li>
				</ul>
			</nav>
		</div>
	</div>
</body>
</html>

