<!doctype html>
<html lang="en">
<head>
	<title>Simple Chef</title>

	<!--META-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="Kyle Poland and Laura Silva">
	<meta name="description" content="A simple way to find recipes, follow and listen to step-by-step instructions, and much, much, more. All for the endeavor of creating something savory and delicious.">
    <meta name="keywords" content="simple, chef, recipe, easy, savory, delicious">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!--LINKS-->
	<link type="text/css" rel="stylesheet" media="all" href="/css/settings.css">
	<link type="text/css" rel="stylesheet" media="all" href="/css/responsive.css">
	<link type="text/css" rel="stylesheet" media="all" href="/css/bootstrap.css">

	<!--SCRIPTS-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
	<script type="text/javascript" src="/js/dropdown.js"></script>
</head>
<body>
	<div id="w">
		<div id="pagebody">
			<header id="toolbarnav">
				<!--<a href="javascript:history.go(-1)" class="back glyphicon-chevron-left"></a>-->
				<h1 style="margin-top: 5px;"><img src="/images/chefhat.png" alt="Simple Chef">Settings</h1>
			</header>
			<section id="content">	
				<h3>My Account</h3>
				<ul class="settingslist">
					<li>Username</li>
					<p>{{username}}</p>
					<li>Password</li>
					<p></p>
				</ul>
				<h3>More Information</h3>
				<ul class="settingslist">
					<li><a href="/howto">How to</a></li>
					<p><br></p>
				</ul>
				<h3>Account Actions</h3>
				<ul class="settingslist">
					<li><a href="/logout">Log Out</a></li>
					<p><br></p>
				</ul>
			</section>
			<!--BOTTOM FIXED NAV-->
			<nav id="bottomnav">
				<ul>
					<li><a href="/home" class="navicon glyphicon-home"></a></li>
					<li><a href="/myrecipes" class="navicon glyphicon-book"></a></li>
					<li><a href="" class="navicon glyphicon-cog active"></a></li>
				</ul>
			</nav>
		</div>
	</div>
</body>
</html>

