<!doctype html>
<html lang="en">
<head>
	<title>Simple Chef</title>

	<!--META-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="Kyle Poland and Laura Silva">
	<meta name="description" content="A simple way to find recipes, follow and listen to step-by-step instructions, and much, much, more. All for the endeavor of creating something savory and delicious.">
    <meta name="keywords" content="simple, chef, recipe, easy, savory, delicious">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!--LINKS-->
	<link type="text/css" rel="stylesheet" media="all" href="/css/recipe.css">
	<link type="text/css" rel="stylesheet" media="all" href="/css/responsive.css">
	<link type="text/css" rel="stylesheet" media="all" href="/css/bootstrap.css">

	<!--SCRIPTS-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
	<script type="text/javascript" src="/js/dropdown.js"></script>
	<script type="text/javascript" src="/js/dragend.js"></script>
	<script>
		jQuery(function ($) {
	    	$('#swapArchived').on('click', function () {
	       		var $el = $(this),
	            textNode = this.lastChild;
	        	$el.find('span').toggleClass('glyphicon-volume-up glyphicon-volume-off');
	        	textNode.nodeValue = ' ' + ($el.hasClass('') ? 'Incomplete' : '')
	        	$el.toggleClass('');
	    	});
		});
	</script>
	<script>
		$(function() {
			new Dragend($("#demo").get(0), {
				afterInitialize: function() {
					$("#demo").css("visibility", "visible");
				}
			});
		});

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-219062-10']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body>
	<div id="w">
		<div id="pagebody">
			<header id="recstepstoolbarnav">
				<a href="javascript:history.go(-1)" class="back glyphicon-chevron-left"></a> 
				<h1><img src="/images/chefhat.png" alt="Simple Chef">Cooking Mode </h1>
			</header>
			<!--STEPSEASY NAV-->
			<nav id="stepseasynav">
				<ul>
					<li><a href="recipegen.html" class="easynavicon glyphicon-list"></a></li>
					<li><a href="recsteps.html" class="easynavicon glyphicon-cutlery"></a></li>
					<li><a href="#" class="easynavicon glyphicon-time"></a></li>
				</ul>
			</nav>
			<!--END STEPSEASY NAV-->
			<section id="content">
				<div id="demo">
					<ul>
						{{#each steps}}
							<li class="dragend-page">
								<h2>Step {{num}}</h2>
								<content class="stepstext"> <p>{{desc}}</p></content>
							</li>
						{{/each}}
						<li class="dragend-page">
							<h2>Done!</h2>
							<content class="stepstext"> <p>Sit back, relax, wait for that timer to go off and enjoy a savory meal made with the help of Simple Chef!</p></content>
						</li>
					</ul>
				</div>
				<button id="swapArchived" class="btn btn-default btn-sm showArchieved"><span class="glyphicon glyphicon-volume-off"></span></button>
			</section>
			<!--BOTTOM FIXED NAV-->
			<nav id="botnavrecsteps">
				<ul>
					<li><a href="/home" class="navicon glyphicon-home"></a></li>
					<li><a href="myrecipebook.html" class="navicon glyphicon-book"></a></li>
					<li><a href="/settings" class="navicon glyphicon-cog"></a></li>
				</ul>
			</nav>
		</div>
	</div>
</body>

</html>

