<!doctype html>
<html lang="en">
<head>
	<title>Simple Chef</title>

	<!--META-->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="Kyle Poland and Laura Silva">
	<meta name="description" content="A simple way to find recipes, follow and listen to step-by-step instructions, and much, much, more. All for the endeavor of creating something savory and delicious.">
    <meta name="keywords" content="simple, chef, recipe, easy, savory, delicious">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!--LINKS-->
	<link type="text/css" rel="stylesheet" media="all" href="/css/recipe.css">
	<link type="text/css" rel="stylesheet" media="all" href="/css/responsive.css">
	<link type="text/css" rel="stylesheet" media="all" href="/css/bootstrap.css">
	<link href="/css/timer.css" rel="stylesheet" />


	<!--SCRIPTS-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
	<script src="/js/timer.js"></script>
	<script type="text/javascript" src="/js/dragend.js"></script>
	<script type="text/javascript" src="/js/speak-js-master/speakClient.js"></script>
	<script type="text/javascript" src="/js/speak-js-master/speakGenerator.js"></script>
	<script>
		jQuery(function ($) {
			var drag = new Dragend($("#demo").get(0), {
				afterInitialize: function() {
					$("#demo").css("visibility", "visible");
				}
			});
	    	$('#swapArchived').on('click', function () {
	       		var $el = $(this),
	            textNode = this.lastChild;
	        	$el.find('span').toggleClass('glyphicon-volume-up glyphicon-volume-off');
	        	textNode.nodeValue = ' ' + ($el.hasClass('') ? 'Incomplete' : '')
	        	$el.toggleClass('');
	        	var number = drag.page + 1;
	        	console.log(number + ' ' + $('#page' + number + ' content p').html());
	        	speak( $('#page' + number + ' content p').html() , { noWorker: true, speed: 150 });
	    	});
	    	if (annyang) {
			// Let's define our first command. First the text we expect, and then the function it should call
			console.log('working');
			var commands = {
		    'listen': function() {
				var number = drag.page + 1;
	        	speak( $('#page' + number + ' content p').html() , { noWorker: true, speed: 150 });
	        },
	        'next': function() {
	        	console.log("swiping right");
	        	drag.swipe("left");
	        },
	        'previous': function() {
	        	drag.swipe("right");
	        },
	        'set timer': function() {
	        	$('#alarm-dialog').parent().trigger("show");
	        }
		  };

		  // Add our commands to annyang
		  annyang.addCommands(commands);

		  // Start listening. You can call this here, or attach this call to an event, button, etc.
		  annyang.start();
			}
		});
	</script>
	<script>
		$(function() {
		/*	var drag = new Dragend($("#demo").get(0), {
				afterInitialize: function() {
					$("#demo").css("visibility", "visible");
				}
			}); */
		});

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-219062-10']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script');
			ga.type = 'text/javascript';
			ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/1.1.0/annyang.min.js"></script>
	<script>
		/*if (annyang) {
		  // Let's define our first command. First the text we expect, and then the function it should call
		  console.log('working');
		  var commands = {
		    'listen': function() {
				var number =  + 1;
				console.log($('#demo').dragend("pageNum"));
	        	speak( $('#page' + number + ' content p').html() , { noWorker: true, speed: 150 });
	        }
		  };

		  // Add our commands to annyang
		  annyang.addCommands(commands);

		  // Start listening. You can call this here, or attach this call to an event, button, etc.
		  annyang.start();
		} */
	</script>
</head>
<body>
	<audio id="audio"></audio>
	<div id="w">
		<div id="pagebody">
			<header id="recstepstoolbarnav">
				<a href="javascript:history.go(-1)" class="backstep glyphicon-chevron-left"></a> 
				<h1><img src="/images/chefhat.png" alt="Simple Chef">Cooking Mode </h1>
			</header>

			<!--STEPSEASY NAV-->
			<nav id="stepseasynav">
				<ul>
					<li><a href="/ingredients/{{name}}" class="easynavicon glyphicon-list"></a></li>
					<li><a href="#" class="easynavicon glyphicon-cutlery stepactive"></a></li>
					<li><div class="button-holder"><a class="alarm-button"><img src="/images/time.PNG" alt=""/></a></div></li>

				</ul>
			</nav>
			<!--END STEPSEASY NAV-->

			<!--START ALARM/TIMER-->
			<!-- The dialog is hidden with css -->
		<div class="overlay">
			<div id="alarm-dialog">
				<h2>Set alarm after</h2>
				<label class="hours">
					Hours
					<input type="number" value="0" min="0" />
				</label>
				<label class="minutes">
					Minutes
					<input type="number" value="0" min="0" />
				</label>
				<label class="seconds">
					Seconds
					<input type="number" value="0" min="0" />
				</label>
				<div class="button-holder">
					<a id="alarm-set" class="button blue">Set</a>
					<a id="alarm-clear" class="button red">Clear</a>
				</div>
				<a class="close"></a>
			</div>
		</div>

		<div class="overlay">
			<div id="time-is-up">
				<h2>Time's up!</h2>
				<div class="button-holder">
					<a class="button blue">Close</a>
				</div>
			</div>
		</div>

		<audio id="alarm-ring" preload>
			<source src="/audio/ticktac.mp3" type="audio/mpeg" />
			<source src="/audio/ticktac.ogg" type="audio/ogg" />
		</audio>
			<!--END ALARM/TIMER-->

			<section id="content">
				<div id="demo">
					<ul>
						{{#each steps}}
							<li class="dragend-page" id="page{{num}}">
								<h2>Step {{num}}</h2>
								<content class="stepstext"> <p>{{desc}}</p></content>
							</li>
						{{/each}}
						<li class="dragend-page">
							<h2>Done!</h2>
							<content class="stepstext"> <p>Sit back, relax, wait for that timer to go off and enjoy a savory meal made with the help of Simple Chef!</p></content>
						</li>
					</ul>
				</div>
				<button id="swapArchived" class="btn btn-default btn-sm showArchieved"><span class="glyphicon glyphicon-volume-off"></span></button>
			</section>

			<!--BOTTOM FIXED NAV-->
			<nav id="botnavrecsteps">
				<ul>
					<li><a href="/home" class="navicon glyphicon-home"></a></li>
					<li><a href="/myrecipes" class="navicon glyphicon-book"></a></li>
					<li><a href="/settings" class="navicon glyphicon-cog"></a></li>
				</ul>
			</nav>
		</div>
	</div>

</body>
</html>

