<!doctype html>
<html>
<head>
	<title>Simple Chef</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/mine.css" rel="stylesheet">
</head>
<body>
	<iframe src='http://www.appdemostore.com/embed?id=5407020530270208' width='290' height='580' frameborder='0'></iframe>
	<a href ="/home">
		<input type="button" id="submitBtn" class="button" value="Finish Tutorial!">
    </a>
</body>
</html>
