@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700|Capriola|Imprima);

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/*/////////////////////////////END OF FONT IMPORT STUFF//////////////////////////////////////*/


.recipehead {
	position: relative;
	overflow: auto;
	border-bottom: 1px solid;
	margin-bottom: 5px;
	margin-top: 0px;
}

.recipehead .title {
	float: left;
	margin-top: 10px;
	width: 60%;
	color: #191919;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 25px;
	line-height: 25px;
	font-weight: 500;
	display: block;
}

.recipehead .time {
	float: right;
	margin-top: 10px;
	color: #191919;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 25px;
	line-height: 25px;
	font-weight: 500;
	display: block;
}

@media only screen and (max-width: 320px) { .recipehead .title {font-size: 18px;} .recipehead .time {font-size: 18px;}}

.foodpic {
	max-width: 100%;
}

.rating {
	font-size: 16px;
	overflow: auto;
	border-bottom: 1px solid;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}

.addrecipebtn, .addrecipebtnundo {
background-color: #6f4a80;
  border-color: transparent;
  color: white;
  padding: 5px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 18px;
}
.addrecipebtn:hover{
	background-color: #00FF00;
}
.addrecipebtnundo:hover{
	background-color: #FF0000;
}

.recipeops {
 background-color: #6f4a80;
  border-color: transparent;
  color: white;
  padding: 5px;
  width: 100%;
  margin-top: 10px;
  font-size: 18px;
}
.recipeops:hover{
	background-color: #551c7d;
}


/*///////////////////////////STYLES REST OF PAGE/////////////////////////////*/

body { background: #181c1f; font-family: 'Source Sans Pro', sans-serif; font-size: 62.5%; line-height: 1; }

#w { position: relative; overflow-x: hidden; overflow-y: hidden; }

/** @group core body **/
#w #pagebody { position: relative; left: 0; max-width: 640px; min-width: 320px; z-index: 99999; }

/** @group header **/
#w #pagebody header#toolbarnav { 
		display: block; 
		position: fixed; 
		left: 0px; 
		top: 0px; 
		z-index: 9999; 
		background: #6f4a80 top left no-repeat;  
		height: 50px; 
		width: 100%; 
		max-width: 640px; 
		}

#w #pagebody header#recstepstoolbarnav { 
		display: block; 
		position: fixed; 
		left: 0px; 
		top: 0px; 
		z-index: 9999; 
		background: #aeb07b top left no-repeat;  
		height: 50px; 
		width: 100%; 
		max-width: 640px; 
		}

#w #pagebody header#recovertoolbarnav { 
		display: block; 
		position: fixed; 
		left: 0px; 
		top: 0px; 
		z-index: 9999; 
		background: #65cfbd top left no-repeat;  
		height: 50px; 
		width: 100%; 
		max-width: 640px; 
		}

#w #pagebody header#toolbarnav h1 {text-align: center; margin-top: -25px; padding-right: 40px; color: white; font-family: 'Montserrat Alternates', sans-serif; font-size: 26px;}
#w #pagebody header#recstepstoolbarnav h1 {text-align: center; margin-top: -25px; padding-right: 10px; color: white; font-family: 'Montserrat Alternates', sans-serif; font-size: 24px;}
#w #pagebody header#recovertoolbarnav h1 {text-align: center; margin-top: -25px; padding-right: 40px; color: white; font-family: 'Montserrat Alternates', sans-serif; font-size: 26px;}


#w #pagebody #content { display: block; background: #fff; margin-top: 55px; padding-bottom: 100px; padding-right: 10px; padding-left: 10px; min-height: 550px; height: 100%; }
#w #pagebody #content h3 { font-family: 'Source Sans Pro', sans-serif; font-weight: 700; font-size: 1.8em; line-height: 1.75em; margin-bottom: 5px; color: #191919; text-transform: uppercase; border-bottom: 1px solid #191919; width: 100%;}


h1 img {height: 40px; margin-left: 40px;}

#ingredients li{
	list-style-type: none;
}

/*///////////////////////////////////////////OVERVIEW STYLE////////////////////////////////////////////*/
#overviewsteps{
	width: 100%;
	margin-left: 0px;
}
#overviewsteps h2{
	color: #65cfbd;
	font-size: 18px;
	margin-top: -10px;
	border-bottom: solid 1px #65cfbd;
}
#overviewsteps p{
	color: #191919;
	font-size: 14px;
}

/*///////////////////////////////////////////STYLES STEPS EASY NAV////////////////////////////////////*/
#stepseasynav{
	font-size: 20px;
	position: relative;
	top: 60px;
	z-index: 50;
	height: 30px;
}
#stepseasynav li{
	list-style-type: none;
	display: inline;
	padding: 20px;
}

.easynavicons {
  margin-left: 5%;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #aeb07b;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.easynaviconi {
  margin-left: 5%;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #65cfbd;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.easynavicono {
  margin-left: 5%;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #65cfbd;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.easynavicon:hover{
	text-decoration: none;
	color: #aeb07b;
}
.easynavicons:hover{
	text-decoration: none;
	color: #aeb07b;
}
.easynaviconi:hover{
	text-decoration: none;
	color: #65cfbd;
}
.easynavicono:hover{
	text-decoration: none;
	color: #65cfbd;
}
.stepactive{
	color: gray;
}

/*//////////////////////////////////////////STYLES STEPS//////////////////////////////////////////////*/
#demo p { font-size: 18px; line-height: 1.6em; margin-bottom: 15px; color: #191919; }
#demo h2 {color: #aeb07b; font-family: 'Source Sans Pro', sans-serif; font-size: 30px; font-weight: 500; padding-left: 20px; margin-top: 70px; line-height: 50px; text-align: left;}

.stepstext{
	font-size: 16px; 
	text-align: left;
}
.stepstext h2{
	text-align: left;
}
.stepstext p{
	color: #191919; 
	font-family: 'Source Sans Pro', sans-serif;  
	font-weight: 400;
	padding-left: 20px; 
	padding-right: 60px;
	line-height: 70px;
	text-align: left;
}

.back {
  position: relative;
  top: 10px;
  left: 10px;
  font-family: 'Glyphicons Halflings';
  font-size: 25px;
  color: white;
  line-height: 30px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.back:hover{
	text-decoration: none;
	color: white;
}

@media (min-width: 320px) {
	.backstep{
		margin-left: -270px;
	}
}
@media (min-width: 640px){
	.backstep{
		margin-left: 20px;
	}
}
.backstep {
  position: relative;
  top: 10px;
  left: 0px;
  font-family: 'Glyphicons Halflings';
  font-size: 25px;
  color: white;
  line-height: 30px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.backstep:hover{
	text-decoration: none;
	color: white;
}


#swapArchived{
	border: none;
	background-color: transparent;
	font-size: 50px;
	left: 20px;
	position: fixed;
	top: 68%;

}

.timericon {
  margin-left: 30px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #aeb07b;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.timericon:hover{
	text-decoration: none;
	color: #aeb07b;
}

/*/////////////////////////////////////////////////STYLES SWIPE FOR STEPS//////////////////////////////////////////////////*/
#demo {
      
      top: 20px;
      left: 0;
      width: 100%;
      height: 100%;
      visibility: hidden;
      cursor: hand;
      cursor: -moz-grab;
      cursor: -webkit-grab;
      cursor: grab;
      position: absolute;
    }
#demo ul{
	display: inline;
}

@media all and (max-width: 640px) and (min-width: 320px){
	#demo{
		text-align: center;
		width: 100%;
	}
	#recstepstoolbarnav{
		text-align: center;
		width: 100%;
	}
}


/*////////////////////STYLES BOTTOM NAV/////////////////////*/
#bottomnav{
	position: fixed;
	bottom: 0px;
	left:0px;
	background-color: #6f4a80;
	height: 50px;
	width: 640px;
	max-width: 640px;
	min-width: 320px;
	z-index: 9999;
}
@media all and (max-width: 640px) and (min-width: 320px){
	#bottomnav{
		width: 100%;
	}
}

#bottomnav ul{
	list-style-type: none;
}
#bottomnav ul li {
	display: inline;
}

.active{
	background-color: #603b70;
}

.navicon {
  position: relative;
  top: 12px;
  left: 0px;
  display: inline;
  padding: 32px;
  padding-top: 10px;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-size: 25px;
  color: white;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navicon:hover{
	color: silver;
	text-decoration: none;
}

@media (min-width: 320px){
	.navicon{
		left: -14%;
	}
}
@media (min-width: 640px){
	.navicon{
		left: 20%;
	}
}

/*RECIPE STEPS BOTTOM NAV*/
#botnavrecsteps{
	position: fixed;
	bottom: 0px;
	left:0px;
	background-color: #aeb07b;
	height: 50px;
	width: 640px;
	max-width: 640px;
	min-width: 320px;
	z-index: 9999;
	text-align: left;
}
@media all and (max-width: 640px) and (min-width: 320px){
	#botnavrecsteps{
		text-align: left;
		width: 100%;
	}
}

#botnavrecsteps ul{
	list-style-type: none;
	margin-left: 40px;
}
#botnavrecsteps ul li {
	display: inline;
}

/*RECIPE OVERVIEW BOTTOM NAV*/
#botnavrecover{
	position: fixed;
	bottom: 0px;
	left:0px;
	background-color: #65cfbd;
	height: 50px;
	width: 640px;
	max-width: 640px;
	min-width: 320px;
	z-index: 9999;
	text-align: left;
}
@media all and (max-width: 640px) and (min-width: 320px){
	#botnavrecover{
		text-align: left;
		width: 100%;
	}
}

#botnavrecover ul{
	list-style-type: none;
}
#botnavrecover ul li {
	display: inline;
}
