#logo {
    display: block;
    margin: auto;
}

.mainform {
    background-color: #A767D5;
    color: #5B2680;
    border: 1px solid transparent;
}

.login {
    color: #A767D5;
    background-color: #680BAB;
    text-align: center;
}

.container {
    margin: auto;
}

body {
    background: #42036F;
    margin: auto;
    padding: auto;
}

.flat-btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
}

.btn-purple {
  color: #5B2680;
  background-color: #A767D5;
  border-color: #A767D5;
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple {
  color: #A767D5;
  background-color: #5B2680;
  border-color: #5B2680;
}