#logo {
  margin-left: -50px;
  height: 200px;
}

.mainform {
    background-color: white;
    color: #42036F;
    border: solid 1px #551C7D;
    border-radius: 5px 5px;
    margin-left: 10px;
}

.login {
    color: #2a0446;
    background-color: white;
    border-radius: 5px 5px;
}

.login p{
    margin-left: 5px;
    color: #42036F;
}

.container {
  margin-left: 0px;
  max-width: 640px; 
  min-width: 320px;
}

body {
    background: #42036F;
    padding: auto;
}

.flat-btn {
  display: inline;
  width: 150px;
  padding: 10px;
  margin-bottom: 5px;
  margin-left: 85px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
}

.btn-purple {
  color: white;
  background-color: 42036f;
  background: -webkit-gradient(linear, left top, left bottom, from(#42036f), to(#2a0446));
  background: -moz-linear-gradient(top,  #42036f,  #2a0446);
  border: solid 1px #551C7D;
  border-radius: 5px 5px;
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple {
  color: white;
  background: #42036f;
  background: -webkit-gradient(linear, left top, left bottom, from(#551C7D), to(#3F1D58));
  background: -moz-linear-gradient(top,  #551C7D,  #3F1D58);
}