/**STYLES THE LOGIN SCREEN**/

@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700|Capriola|Imprima);

.container {
  margin-left: 0px; 
  max-width: 640px; 
  min-width: 320px;
}

body {
    background: white;
    padding: auto;
}

#logo {
  height: 250px;
  width: 100%;
  background-color: #42036F;
}
#logo h1{
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  font-size: 48px;
  text-align: center;
}

#logo img{
  margin-left: 40%;
  margin-top: 20px;
  width: 20%;
}

#circle {
  background-color: #42036F;
  border-radius: 360px;
  width: 50px;
  height: 50px;
  margin-top: -35px;
  margin-left: 40%;
}

#email{
  border-radius: 0px;
  border-color: silver;
  padding: 10px;
  font-size: 18px;
  width: 105.2%;
  margin-left: -2.7%;
  margin-bottom: -45px;
}

#username{
  border-radius: 0px;
  border-color: silver;
  padding: 10px;
  font-size: 18px;
}

#password{
  margin-top: -30px;
  border-radius: 0px;
  border-color: silver;
  padding: 10px;
  font-size: 18px;
}

.button{
  background-color: #42036F;
  border-color: transparent;
  color: white;
  padding: 5px;
  width: 100%;
  margin-top: 10px;
  font-size: 18px;
}

.button:hover{
  background-color: #551C7D;
}

#loginscreen {
    background-color: white;
    color: #42036F;
    border-color: transparent;
    padding: 5px;
    width: 99%;
}