.recipehead {
	position: relative;
	overflow: auto;
	border-bottom: 1px solid;
	margin-bottom: 5px;
	margin-top: 20px;
}

.recipehead .title {
	float: left;
	color: #181818;
	font-family: arial;
	font-size: 2.6em;
	line-height: 1.8em;
	font-weight: 500;
	display: block;
}

.recipehead .time {
	float: right;
	color: #181818;
	font-family: arial;
	font-size: 2.6em;
	line-height: 1.8em;
	font-weight: 500;
	display: block;
}

.foodpic {
	max-width: 100%;
}

.rating {
	font-size: 1.5em;
	overflow: auto;
	border-bottom: 1px solid;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}

.addrecipebtn {
background-color: #42036F;
  border-color: transparent;
  color: white;
  padding: 5px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 18px;
}
.addrecipebtn:hover{
	background-color: #551C7D;
}
.recipeops {
 background-color: #42036F;
  border-color: transparent;
  color: white;
  padding: 5px;
  width: 100%;
  margin-top: 10px;
  font-size: 18px;
}
.recipeops:hover{
	background-color: #551c7d;
}

/**STYLES REST OF PAGE**/
* { margin: 0; padding: 0; }

body { background: #181c1f; font-family: Arial,  sans-serif; font-size: 62.5%; line-height: 1; }

a { -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-touch-callout: none; }

ul,ol,h1,h2,h3,h4,h5,h6,p { display: block; }

#w { position: relative; overflow-x: hidden; overflow-y: hidden; }

/** @group core body **/
#w #pagebody { position: relative; left: 0; max-width: 640px; min-width: 320px; z-index: 99999; }

/** @group header **/
#w #pagebody header#toolbarnav { 
		display: block; 
		position: fixed; 
		left: 0px; 
		top: 0px; 
		z-index: 9999; 
		background: #42036f top left no-repeat;  
		height: 60px; 
		width: 100%; 
		max-width: 640px; 
		}

#w #pagebody header#toolbarnav h1 { text-align: center; padding-top: 10px; padding-right: 40px; color: white; font-weight: bold; font-size: 2.1em; text-shadow: 1px 1px 0px #313131; }

#w #pagebody #content { display: block; background: #fff; padding: 5px 12px; margin-top: 40px; padding-bottom: 100px; min-height: 550px; height: 100%; z-index: 9999; }

#w #pagebody #content h2 {color: white; background-color: #191919; opacity: 0.7; font-family: arial; font-size: 20px; margin-top: -40px; padding-left: 10px;line-height: 40px;}
#w #pagebody #content h3 { font-family: Arial, sans-serif; font-weight: 700; font-size: 1.8em; line-height: 1.75em; text-transform: capitalize; margin-bottom: 5px; color: #222; }
#w #pagebody #content p { font-size: 1.4em; line-height: 1.6em; margin-bottom: 15px; color: #444; }

#w #pagebody #content a { color: #78a5ce; }
#w #pagebody #content a:hover { color: #678eb2; }

h1 img {height: 50px; width: 5; margin-top: -10px;}


/**STYLES BOTTOM NAV**/
#bottomnav{
	background-color: silver;
	height: 60px;
	position: fixed;
	margin-top: -60px;
	max-width: 640px;
}

#bottomnav ul{
	list-style-type: none;
}
#bottomnav ul li {
	display: inline;
	padding: 30px;
}
#bottomnav img{
	width: 40px;
}
.active{
	background-color: gray;
	height: 60px;
}