@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700|Capriola|Imprima);

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/*///////////////////////////STYLES REST OF PAGE/////////////////////////////*/

body { background: #181c1f; font-family: 'Source Sans Pro', sans-serif; font-size: 62.5%; line-height: 1; }

#w { position: relative; overflow-x: hidden; overflow-y: hidden; }

/** @group core body **/
#w #pagebody { position: relative; left: 0; max-width: 640px; min-width: 320px; z-index: 99999; }

/** @group header **/
#w #pagebody header#toolbarnav { 
		display: block; 
		position: fixed; 
		left: 0px; 
		top: 0px; 
		z-index: 9999; 
		background: #576ead top left no-repeat;  
		height: 60px; 
		width: 100%; 
		max-width: 640px; 
		}

#w #pagebody header#toolbarnav h1 {text-align: center; margin-top: -30px; padding-right: 40px; color: white; font-family: 'Montserrat Alternates', sans-serif; font-size: 42px;}

#w #pagebody #content { display: block; background: #fff; padding: 5px 12px; margin-top: 40px; padding-bottom: 100px; min-height: 550px; height: 100%; z-index: 9999; }

#w #pagebody #content h2 {color: #42036F; font-family: 'Source Sans Pro', sans-serif; font-size: 70px; font-weight: 500; padding-left: 60px; padding-top: 30px; line-height: 70px;}
#w #pagebody #content h3 { font-family: 'Source Sans Pro', sans-serif; font-weight: 700; font-size: 1.8em; line-height: 1.75em; margin-bottom: 5px; color: #576ead; text-transform: uppercase; border-bottom: 1px solid #576ead; width: 100%;}
#w #pagebody #content p { font-size: 14px; line-height: 1.6em; margin-bottom: 15px; color: silver; width: 100%; border-bottom: 1px solid silver;}

h1 img {height: 60px;}

.settingslist{
	list-style-type: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: #191919;
	margin-left: -40px;
}

.back {
  position: relative;
  top: 15px;
  left: 10px;
  font-family: 'Glyphicons Halflings';
  font-size: 28px;
  color: white;
  line-height: 30px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.back:hover{
	text-decoration: none;
	color: white;
}

/*////////////////////STYLES BOTTOM NAV/////////////////////*/
#bottomnav{
	position: fixed;
	bottom: 0px;
	left:0px;
	background-color: #576ead;
	height: 60px;
	width: 640px;
	max-width: 640px;
	min-width: 320px;
	z-index: 9999;
	text-align: left;
}
@media all and (max-width: 640px) and (min-width: 320px){
	#bottomnav{
		text-align: left;
		width: 100%;
	}
}

#bottomnav ul{
	list-style-type: none;
}
#bottomnav ul li {
	display: inline;
}

.active{
	background-color: #2a437d;
}

.navicon {
  position: relative;
  top: 22px;
  left: -0.5%;
  display: inline;
  padding: 30px;
  padding-top: 20px;
  margin-top: 0px;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-size: 28px;
  color: white;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navicon:hover{
	color: silver;
	text-decoration: none;
}
