@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700|Capriola|Imprima);

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/*/////////////////////////////END OF FONT IMPORT STUFF//////////////////////////////////////*/

body { background: #181c1f; font-family: Arial,  sans-serif; font-size: 62.5%; line-height: 1; }

#w { position: relative; overflow-x: hidden; overflow-y: hidden; }

/** @group core body **/
#w #pagebody { position: relative; left: 0; max-width: 640px; min-width: 320px; z-index: 99999; }

/** @group header **/
#w #pagebody header#toolbarnav { 
		display: block; 
		position: fixed; 
		left: 0px; 
		top: 0px; 
		z-index: 9999; 
		background: #42036f top left no-repeat;  
		height: 60px; 
		width: 100%; 
		max-width: 640px; 
		}

#w #pagebody header#toolbarnav h1 { text-align: center; padding-top: 0px; padding-right: 40px; color: white; font-weight: bold; font-size: 2.1em; text-shadow: 1px 1px 0px #313131; }

#w #pagebody #content { display: block; background: #fff; padding: 5px 12px; margin-top: 40px; min-height: 550px; height: 100%; z-index: 9999; }

#w #pagebody #content h2 {color: #191919; background-color: white; opacity: 0.8; font-family: 'Source Sans Pro', sans-serif; font-weight: 400; font-size: 20px; margin-top: -40px; padding-left: 10px;line-height: 40px;}
#w #pagebody #content h3 { font-family: Arial, sans-serif; font-weight: 700; font-size: 1.8em; line-height: 1.75em; text-transform: capitalize; margin-bottom: 5px; color: #191919; }
#w #pagebody #content p { font-size: 1.4em; line-height: 1.6em; margin-bottom: 15px; color: #191919; }

h1 img {position: relative; bottom: 20px; height: 60px;}

/**STYLES THE SEARCH BOX**/

	#tfheader{
		background-color:transparent;
		margin-top: 20px;
		margin-left: 5px;
	}
	#tfnewsearch{
		padding-top: 2%;
		padding-bottom: 2%;
	}
	.tftextinput{
		width: 95.5%;
		padding-top: 10px;
		padding-bottom: 5px;
		padding-left: 5px;
		padding-right: 5px;
		font-family: 'Source Sans Pro', sans-serif;
		font-size:16px;
		border:1px solid #551C7D;
	}
	.tfbutton {
		width: 30px;
		padding: 0px 20px;
		margin-left: -60px;
		font-family: 'Source Sans Pro', sans-serif;
		font-size:16px;
		color: #ffffff;
		cursor: pointer;
		border: none;
		background: none;
	}

	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}

.glyphicon1{
  position: relative;
  bottom: 0px;
  top: 5px;
  right: 25px;
  display: inline;
  padding: 30px;
  padding-top: 20px;
  margin-top: 0px;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-size: 28px;
  color: gray;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon:hover{
	color: silver;
	text-decoration: none;
}

/**STYLES SORT DROP DOWN MENU**/
#sortdropdown {
	color: #551C7D;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	margin-left: -10px;
}
#sortdropdown td{
	margin-left: -30px;
}
#sort {
	border: solid 1px #551C7D;
	padding: 5px 5px;
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: #551C7D;
	margin-left: ;
} 



/**STYLES PINTEREST TILES**/

#wrapper {
	width: 90%;
	max-width: 720px;
	min-width: 320px;
	margin: 50px auto;
	}

#columns {
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 2;
	column-gap: 10px;
	column-fill: auto;
}

.pin {
	display: inline-block;
	background: white;
	margin: 10px 0px 0px 0px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 250px;
	height: 200px;
}

@media (min-width: 320) {
	#columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media (min-width: 720px) {
	#columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}




/**STYLES BOTTOM NAV**/
#bottomnav{
	position: fixed;
	bottom: 0px;
	left:0px;
	background-color: #42036F;
	height: 60px;
	width: 640px;
	max-width: 640px;
	min-width: 320px;
	z-index: 9999;
	text-align: center;
}
@media all and (max-width: 640px) and (min-width: 320px){
	#bottomnav{
		text-align: center;
		width: 100%;
	}
}

#bottomnav ul{
	list-style-type: none;
}
#bottomnav ul li {
	display: inline;
}

.active{
	background-color: #2E024E;
}

.navicon {
  position: relative;
  top: 22px;
  display: inline;
  padding: 30px;
  padding-top: 20px;
  margin-top: 0px;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-size: 28px;
  color: white;
  font-weight: normal;
  line-height: 30px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navicon:hover{
	color: silver;
	text-decoration: none;
}
